#mainbox1 {
    width: 960px;
    height: 950px;
    margin: 0 auto;
    background-color: #f6f9f6;
    margin-bottom: 40px;
}
#mainbox1_1 {
    width:9px;
    height: 891px;
    margin-top: 9px;
    background-color: #ebeeef;
    float: left;
}
#mainbox1_2 {
    width: 951px;
    height: 900px;
    margin-left: 9px;
    background-color: #fff;
}
#mainbox1_3 {
    width: 951px;
    height: 9px;
    background-color: #ebeeef;
}
#mainbox1_2_1 {
    height: 74px;
    margin: 0 20px;
    padding-right: 5px;
    border-bottom: 1px solid #eceef2;
}
#mainbox1_2_2 {
    width: 100%;
    margin-top: 20px;
    height: 100px;
}
.button1 {
    margin-left: 28px;
    margin-top: 28px;
    border: 1px solid #eceef2;
    border-bottom: none;
    width: 137px;
    height: 47px;
    background-color: #fff;
    color: #464646;
    font-size: 20px;
}
.setcenter {
    text-align: center;
}
.setp {
    font-size: 18px;
}
.textbox {
    width: 312px;
    height: 38px;
    border: 1px solid #e6e6e6;
    margin-top: 30px;
}
.button2 {
    margin-top: 30px;
    width: 178px;
    height: 44px;
    background-color: #ff2832;
    border-radius: 22px;
    color: #fff;
    font-size: 20px;
    border: 0;
}
.bilimao {
    float: right;
    margin-top: 45px;
}