<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibilimao.mapper.PatientMapper">
	<sql id="Base_Patient_List">
		id, name, sex, birth, idcard, safety_problem, address, number, registration_time, password
	</sql>
	<resultMap type="com.bilibilimao.po.Patient" id="PatientResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="birth" property="birth" jdbcType="DATE" />
		<result column="idcard" property="idCard" jdbcType="VARCHAR" />
		<result column="safety_problem" property="safetyProblem" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="registration_time" property="registrationTime" jdbcType="DATE" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>
	<parameterMap type="com.bilibilimao.po.Patient" id="PatientParameterMap">
		<parameter property="id" resultMap="PatientResultMap" />
		<parameter property="name" resultMap="PatientResultMap" />
		<parameter property="sex" resultMap="PatientResultMap" />
		<parameter property="birth" resultMap="PatientResultMap" />
		<parameter property="idCard" resultMap="PatientResultMap" />
		<parameter property="safetyProblem" resultMap="PatientResultMap" />
		<parameter property="address" resultMap="PatientResultMap" />
		<parameter property="number" resultMap="PatientResultMap" />
		<parameter property="registrationTime" resultMap="PatientResultMap" />
		<parameter property="password" resultMap="PatientResultMap" />
	</parameterMap>
	<insert id="insertPatient" parameterMap="PatientParameterMap" >
		insert into patient (
		<include refid="Base_Patient_List" />
		) values (
		#{id, jdbcType=INTEGER},
		#{name, jdbcType=VARCHAR},
		#{sex, jdbcType=VARCHAR},
		#{birth, jdbcType=DATE},
		#{idCard, jdbcType=VARCHAR},
		#{safetyProblem, jdbcType=VARCHAR},
		#{address, jdbcType=VARCHAR},
		#{number, jdbcType=VARCHAR},
		#{registrationTime, jdbcType=DATE},
		#{password, jdbcType=VARCHAR}
		)
	</insert>
</mapper>